@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* e.g., in src/style.css (after @tailwind directives) */
@layer utilities {
  .drop-shadow-custom {
    filter: drop-shadow(0 4px 196.4px #8B8BD0);
  }
  .drop-shadow-custom-yellow {
    filter: drop-shadow(0px 4px 196.4px #FDD688);
  }
}
body {
  font-family: 'Prompt', sans-serif;
  background: url('./assets/bg.svg');
  background-repeat:no-repeat;
  background-size: cover;
}



